<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>clock</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:&amp;display=swap"
    />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
    />
    <link rel="stylesheet" href="../static/assets/css/Navigation-Clean.css" />
    <link rel="stylesheet" href="../static/assets/css/styles.css" />
  </head>

  <body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for("views.home") }}">Weather Card</a
        >
      </div>
    </nav>
    <a class="github-fork-ribbon" href="https://github.com/vaylon-fernandes/weather-card" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
    <div class="card">
      <div class="card-body">
        <div class="container">
          <div class="row">
            <div class="col-6" id="city">
              <p>-</p>
            </div>
            <div class="col-6" id="time">
              <p id="clock"></p>
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
                <div class="notification"> </div>
              <p id="temperature">- &degC</p>
            </div>
          </div>
        </div>
        <div class="container" id="weather">
          <div class="row">
            <div class="col-6">
                <p><i class="fas fa-wind"></i>&nbsp;<span id="windSpeed">- </span>km/hr</p>
              <p><i class="fas fa-tint"></i>&nbsp;<span id="humidity">-</span> %</p>
              <p><i class="fas fa-tachometer-alt"></i>&nbsp;<span id="pressure">-</span> hpa</p>
            </div>
            <div class="col-6">
              <img class="img-fluid" src="../static/assets/icons/unknown.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src={{ url_for("static", filename="assets/js/clock.js") }}></script>
    <script scr="{{ url_for("static", filename="assets/js/weather.js") }}"></script>
  </body>
</html>
